@page
@model Salon.Pages.ProgramariClienti.SelectProgramareModel
@{
}



<h3><a class="btn btn-primary"  asp-page="./Index"><</a> Specialist ales</h3>
 @Html.DisplayFor(model => model.Angajat.Nume)

<h3><a class="btn btn-primary"  asp-page="./Index"><</a> Serviciu ales</h3>

@Html.DisplayFor(model => model.Serviciu.Denumire)

<table class="calendar">
    <thead>
        <tr style="border-style:solid; border-color:brown;">
            <th>Luni</th>
            <th>Marti</th>
            <th>Miercuri</th>
            <th>Joi</th>
            <th>Vineri</th>
            <th>Sambata</th>
            <th>Duminica</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td>
                        <div  style="border-style:solid; border-color:brown;">
                            @DateTime.Today.AddDays(i*7+j)
                            @foreach (var interval in Model.IntervaleLibere.Where(p => p.Item1.Date == DateTime.Today.AddDays(i*7+j)))
                            {

                                var parms = new Dictionary<string, string>
                                {
                                    { "spec", @ViewBag.spec.ToString() },
                                    { "serv", @ViewBag.serv.ToString() },
                                    {"day",interval.Item1.ToString(@"ddMMyyyy")},
                                    {"time",interval.Item2.ToString(@"hh\:mm") }
                                };
                                <span class="available-time">
                                    <a asp-page="./Salvare" asp-all-route-data="parms">@interval.Item2.ToString(@"hh\:mm")</a> <br>
                                    @*<a asp-page="./Salvare" asp-route-data="@interval.Item2.ToString(@"hh\:mm")-@interval.Item3.ToString(@"hh\:mm")">@interval.Item2.ToString(@"hh\:mm") - @interval.Item3.ToString(@"hh\:mm")</a>*@
                                </span>
                            }
                        </div>
                    </td>
                }
            </tr>
            
        }
    </tbody>
</table>


