@page
@model Salon.Pages.Programari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Angajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Serviciu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Durata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programare[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Programare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Angajat.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.Denumire)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Durata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Nume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
